* {
  padding: 0;
  margin: 0;
}
#header {
  font-size: 100px;
  font-family: fantasy;
  text-align: center;
}
.opacity {
  opacity: 0;
}
.p {
  color: rgb(117, 218, 255);
  text-shadow: 0 0 30px rgb(0, 200, 220);
}
.h {
  color: rgb(140, 17, 17);
  text-shadow: 0 0 20px rgb(190, 0, 50);
}
.y {
  color: rgb(242, 250, 25);
  text-shadow: 0 0 20px rgb(250, 200, 0);
}
.s {
  color: rgb(17, 219, 17);
  text-shadow: 0 0 20px rgb(150, 235, 100);
}
.i {
  color: rgb(66, 91, 153);
  text-shadow: 0 0 20px rgb(0, 0, 200);
}
.c {
  color: rgb(235, 9, 9);
  text-shadow: 0 0 20px rgb(235, 9, 9);
}
.s1 {
  color: rgb(103, 235, 165);
  text-shadow: 0 0 20px rgb(50, 180, 180);
}
.g1 {
  color: rgb(201, 185, 4);
  text-shadow: 0 0 20px rgb(200, 155, 30);
}
.e {
  color: rgb(116, 219, 214);
  text-shadow: 0 0 30px rgb(0, 200, 220);
}
.e1 {
  color: rgb(138, 44, 201);
  text-shadow: 0 0 30px rgb(138, 44, 201);
}
.k {
  color: rgb(245, 5, 93);
  text-shadow: 0 0 50px rgb(200, 0, 100);
}
body {
  background-color: black;
  min-width: 400px;
}

.bar {
  font-size: 30px;
  background-color: black;
  color: rgb(202, 204, 204);
  border-style: groove;
  border-width: 5px;
  border-color: rgb(202, 204, 204);
  border-radius: 10px;
  background: linear-gradient(red, black, red);
}
.box {
  width: 100%;
  /* height: 150px; */
  background-color: black;
  opacity: 0.9;
  background: linear-gradient(black, white, black);
}

.menu {
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: black;
  background: linear-gradient(white, black, white);
}
h2 {
  color: black;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  background: linear-gradient(black, white, black);
  box-shadow: 0 0 10px red;
}
.pnews {
  background-color: black;
  color: white;
  font-size: 25px;
  width: 70%;
  padding-left: 10px;
  padding-top: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.image {
  width: 30%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.news-box {
  display: flex;
  background-color: black;
  justify-content: space-around;
  align-items: center;
}
.boxnews {
  border-style: groove;
  border-color: black;
  box-shadow: 0px 0 15px red;
  border-width: 15px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.justify {
  text-align: justify;
  text-indent: 10px;
}
.strong {
  font-size: 40px;
  font-weight: 30;
}

.games-div {
  width: 100%;
  margin-top: 20px;
}

.games {
  list-style: none;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  background-color: black;
  box-shadow: 0 0 30px red;
  border-radius: 20px;
}
.games-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ligames {
  width: calc(100% / 3 - 40px);
}
.bordergames {
  padding: 20px;
}
.games-text {
  margin-top: 5px;
}
.sites {
  color: white;
  font-size: 25px;
  background-color: black;
  box-shadow: 0 0 30px red;
  border-width: 10px;
  border-style: groove;
  border-color: black;
  border-radius: 30px;
  margin: 20px 10px;
}
.sites-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.li {
  width: calc(100% / 2 - 40px);
}
.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.about {
  width: 60%;
  color: white;
  font-size: 30px;
  background: black;
  border-radius: 20px;
  box-shadow: 0 0 30px red;
  padding: 10px;
}
.contact {
  list-style: none;
  width: 35%;
  font-size: 25px;
  color: white;
  border-radius: 20px;
  background: black;
  box-shadow: 0 0 30px red;
}
.contact li {
  padding: 10px;
}
.licontact {
  margin-top: 20px;
}
.games a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.games a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.games a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.games a:hover {
  color: rgb(255, 255, 255);
  background: linear-gradient(black, red, black);
  text-decoration: none;
  transition-duration: 350ms;
  box-shadow: 0 0 20px rgb(200, 6, 4);
}
a:link {
  color: rgb(202, 204, 204);
  text-decoration: none;
}
a:active {
  color: rgb(202, 204, 204);
  text-decoration: none;
}
a:visited {
  color: rgb(202, 204, 204);
  text-decoration: none;
}
.menu a:hover {
  color: rgb(214, 7, 7);
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition-duration: 350ms;
  box-shadow: 0 0 40px rgb(214, 7, 7), 0 0 40px rgb(214, 7, 7);
}
.boxnews a:link {
  color: rgb(202, 204, 204);
  text-decoration: none;
}
.boxnews a:active {
  color: rgb(202, 204, 204);
  text-decoration: none;
}
.boxnews a:visited {
  color: rgb(202, 204, 204);
  text-decoration: none;
}
.boxnews p:hover {
  color: rgb(118, 3, 156);
  transition-duration: 350ms;
  text-decoration: none;
  text-shadow: 0 0 20px rgb(118, 3, 156);
}
.sites a:link {
  color: rgb(202, 204, 204);
  text-decoration: none;
}
.sites a:active {
  color: rgb(202, 204, 204);
  text-decoration: none;
}
.sites a:visited {
  color: rgb(202, 204, 204);
  text-decoration: none;
}
.sites a:hover {
  color: rgb(118, 3, 156);
  transition-duration: 350ms;
  text-decoration: none;
  text-shadow: 0 0 20px rgb(118, 3, 156);
}
.text-margin {
  margin: 0px 5px 0px 5px;
}

.gif {
  width: 100%;
  height: 100px;
  opacity: 0.8;
  display: block;
  margin-top: 20px;
}
@media screen and (max-width: 790px) {
  #header {
    font-size: 70px;
  }
  .bar {
    font-size: 25px;
  }
  h2 {
    font-size: 30px;
  }
  .pnews {
    font-size: 20px;
  }
  .sites {
    font-size: 17px;
  }
  .games-text {
    font-size: 13px;
  }
  .about {
    font-size: 20px;
  }
  .contact {
    font-size: 15px;
  }
}

@media screen and (max-width: 560px) {
  #header {
    font-size: 40px;
  }
  .bar {
    font-size: 20px;
  }
  h2 {
    font-size: 25px;
  }
  .pnews {
    font-size: 15px;
  }
  .li {
    width: 51%;
  }
  .sites {
    font-size: 15px;
  }
  .about {
    font-size: 14px;
  }
  .contact {
    font-size: 10px;
  }
}
